.cr-Model{
  text-align: center;
  .fade-into{
    opacity: 0;
    transition: opacity .5s ease;
  }
  .fade-out{
    opacity: 1;
  }
  .cr-model-mask{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
  }
  .cr-model-conter{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    outline: 0;
    .cr-model-body{
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: 20px;
      margin: 0 auto;
    }
    .cr-model-close{
      font-weight: bolder;
      position: absolute;
      font-size: 30px;
      color: #fff;
      top: -30px;
      right: -20px;
      cursor: pointer;
    }
  }
  .cr-modal-mask-hidden{
    display: none;
  }
}